.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  margin-top: 60px;
  overflow-x: hidden;
  padding: 20px;
  width: 100%;
}

.articleDetails {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff14;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.container .accessSection {
  width: 100%;
  border: 1px solid rgba(100, 148, 237, 0.52);
  border-radius: 8px;
  box-shadow: 5px 5px 5px cornflowerblue;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.container .returnBtn {
  background-color: #1014e93e;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}

.container .returnBtn:hover {
  background-color: #3e57e9;
}

@media (min-width: 768px) {
  .returnBtn {
    width: 150px;
  }
}

@media (max-width: 767px) {
  .returnBtn {
    width: 100%;
  }
}

.container div h5 {
  color: #0e0d0d;
  font-size: 11px;
}

.container div section img {
  height: 14px;
  width: 14px;
}

.container p {
  color: white;
  text-align-last: left;
  width: 100%;
}

#petPhoto {
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  height: auto;
  margin: 20px 0;
  max-width: 100%;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

#petPhoto:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .articleDetails,
  .container .accessSection {
    padding: 10px;
  }
}

.detailsHeader {
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.detailsHeader h1 {
  color: #f9f6f6;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

.editBtn {
  border: 1px solid rgb(203, 152, 0);
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  font-weight: 600;
  height: 24px;
  margin: 0 8px;
  padding: 0;
  width: 24px;
}

@media (max-width: 767px) {
  .createBtn,
  .returnBtn {
    width: 100%;
  }

  .detailsHeader h1 {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 40px;
  }

  .details {
    flex-direction: row;
    justify-content: space-around;
  }

  .newVisits {
    flex-direction: row;
    justify-content: space-around;
  }

  .returnBtn {
    width: 150px;
  }

  .rightPanel {
    margin-left: 40px;
  }

  .visits {
    flex-direction: row;
    justify-content: space-around;
  }

  .accessSection {
    margin-top: 40px;
  }
}

h2 {
  font-size: 20px;
  width: 100%;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: white;
}

.container span {
  display: flex;
  margin: 7px 0px 12px 0px;
  align-items: center;
}

a img {
  width: 30px;
  height: 30px;
  background-color: #FFBF00;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

a img:hover {
  background-color: #FFD700;
}

.container button i {
  width: 24px;
  height: 24px;
  background-color: #3E57E9;
  color: transparent;
  border: 1px solid rgb(203, 152, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.container button i:hover {
  background-color: #FF9800;
}
