.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 16px;
  margin-top: 80px;
}

.container > input {
  margin-left: 16px;
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2); 
  border-radius: 3px;
}

input[type="file"] {
  padding: 0;
}

.message {
  margin-top: 0;
  height: 22px;
  color: #167add;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  width: 100%;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 8px;
  font-weight: 600;
}

.loginBtn {
  gap: 40px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 3px; 
  cursor: pointer; 
  transition: all 0.3s ease-in-out; 
  color: #278acce7; 
  font-size: 16px; 
}

.button {
  margin-left: 0; 
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  background-color: #0a7ea2; 
  border: none; 
  padding: 10px 20px;
  border-radius: 5px; 
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #646cff21; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.button:focus,
.button:focus-visible {
  outline: none; 
  box-shadow: 0 0 0 3px rgba(31, 31, 226, 0.5); 
}

@media only screen and (max-width: 912px) {
  .container section {
    width: 100%;
    justify-content: flex-start;
  }
  .container section:first-child {
    display: none;
  }
  .container form {
    min-width: 100%;
  }
}
