/* General Styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Light gray background */
}

/* Container */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

/* Input Styles */
.container > input {
  margin-left: 16px;
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2); /* Light border */
  border-radius: 3px; /* Rounded corners */
}

input[type="file"] {
  padding: 0;
}

/* Error Message */
.message {
  margin-top: 0;
  height: 22px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

/* Form Label */
.label {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Space between label and input */
  align-items: center;
  margin-bottom: 8px;
  font-weight: 600;
}

.loginBtn {
  gap: 40px;
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2); /* Light border */
  border-radius: 3px; /* Rounded corners */
  cursor: pointer; /* Indicate hover interaction */
  transition: all 0.3s ease-in-out; /* Smooth hover effect */
  color: #e2b8b8e7; /* Darker text for better contrast */
  font-size: 16px; /* Consistent font size */
}

/* Button */
.button {
  margin-left: 0; /* Align button to left within form */
  font-weight: 600;
  cursor: pointer;
  color: #fff; /* White text color */
  background-color: #313122; /* Dark blue background color */
  border: none; /* Remove default border */
  padding: 10px 20px;
  border-radius: 5px; /* Rounded corners */
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #646cff; /* Lighter blue on hover */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Subtle shadow on hover */
}

.button:focus,
.button:focus-visible {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 0 3px rgba(31, 31, 226, 0.5); /* Blue focus ring */
}

/* Media Queries (unchanged) */

@media only screen and (max-width: 912px) {
  .container section {
    width: 100%;
    justify-content: flex-start;
  }
  .container section:first-child {
    display: none;
  }
  .container form {
    min-width: 100%;
  }
}
