.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container > input {
  margin-left: 16px;
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
}

input[type="file"] {
  padding: 0;
}


.message {
  margin-top: 0;
  height: 22px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.label {
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 8px;
}

.button {
  margin-left: 16px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(31, 31, 226);
  transition: border-color 0.25s;
  background: #d2dee395;
}

.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 9px auto -webkit-focus-ring-color;
}

.form > label:last-of-type {
  margin-bottom: 16px;
}

@media only screen and (max-width: 912px) {
  .container section {
    width: 100%;
    justify-content: flex-start;
  }
  .container section:first-child {
    display: none;
  }
  .container form {
    min-width: 100%;
  }
}