

.container {
  display: flex; /* Allow for potential future expansion */
  flex-direction: column; /* Stack elements vertically */
  padding: 20px; /* Add some padding for content breathing room */
  border-radius: 4px; /* Subtle rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  background-color: #ece6e63d; /* White background */
  margin-bottom: 20px; /* Add spacing between cards */
}

.container h1 {
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold;
  margin-bottom: 10px; /* Add some space between heading and content */
}

.container section {
  display: flex; /* Arrange content horizontally */
  flex-direction: column; /* Stack content vertically by default */
  gap: 10px; /* Add spacing between content elements */
}

.container section p {
  font-size: 16px; /* Adjust font size as needed */
  margin: 0; /* Remove default margin for better spacing */
}

/* Optional: Styling for urgency indicator */

.container section p.urgent {
  color: red; /* Highlight urgent visits */
}

.container span {
  width: 100%;
  display: flex;
	margin-top: 10px;
  align-items: center;
}

.container span button, .container span a  {
  cursor: pointer;
}

.container header button, .container header a {
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
}

.container header button img, .container header a img {
  width: 24px;
  height: 24px;
  opacity: .25;
}


.container span button, .container span a {
  margin: 0;
  width: 20%;
  padding: 5px;
  font-size: 14px;
  font-weight: 500;
  background: none;
  margin-left: 7px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid yellow;
}

