.container {
  min-height: calc(100vh - 75px);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}

.splash {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container section > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.about {
  width: 100%;
  overflow-y: auto;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

.about::-webkit-scrollbar {
  width: 8px;
  background-color: #2d76b241;
}

.about::-webkit-scrollbar-thumb {
  background-color: #3498db;
  border-radius: 10px;
}

.about article {
  width: 100%;
  max-width: 800px; 
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right, rgba(255, 203, 107, 0.55) 0%, rgba(61, 139, 255, 0.782) 100%);
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(35, 106, 150, 0.728);
}

.about article p {
  font-family: Arial, sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 550;
  text-align: justify;
  margin: 0;
  padding: 1rem;
  letter-spacing: 1.5px;
  border-radius: 10px;
  color: #0c086f;
  box-shadow: 0 15px 40px rgba(35, 106, 150, 0.728);
  border: 1px solid rgb(220, 220, 220);
  border: 1px solid #dcdcdc;
  backdrop-filter: blur(5px);
}

.about article h5 {
  font-family: Georgia, serif;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #f0e0d6;
  text-align: center;
}

.footer {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px dashed rgb(9, 165, 217);
  color: #fafafa;
  margin-top: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #2920202b;
}

@media only screen and (max-width: 1024px) {
  .about {
    padding: 1rem;
  }
  .about article p {
    font-size: 1rem; 
  }
}

@media only screen and (max-width: 768px) {
  .about article p {
    font-size: 0.9rem; 
  }
}

@media only screen and (max-width: 414px) {
  .about article p {
    font-size: 0.85rem; 
  }
}
