@media only screen and (max-width: 768px) {
  .container section > img {
    width: 80%; 
  }
}

.container {
  min-height: calc(100vh - 75px);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.splash {
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.splash img {
  max-width: 80%; 
  margin: 0 auto;
}

.container > section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.container section > img {
  width: 20%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 20px 20px rgba(35, 106, 150, 0.728);
  background: hsla(39, 100%, 71%, 1);
  background: linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFCB6B", endColorstr="#3D8BFF", GradientType=1 );
}

.about {
  height: 70vh;
  width: 80%; 
  /* overflow-y: auto; */
  margin: 0 auto; 
  padding: 2rem 1rem;; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 60px;
  border-radius: 10px; 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}

.about article {
  width: 100%;
  max-width: unset;
  margin: 0;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 0;
  overflow: hidden;
}

.about article p {
  font-family: Arial, sans-serif;  
  font-size: 1rem;                  
  line-height: 1.5;                
  font-weight: 500;
  text-align: justify;
  margin: 0;
  width: 100%;
  font-size: 1.2rem;
  padding: 1rem;
  letter-spacing: 1px;
  border-radius: 10px;
  color:rgb(245, 240, 240);
  box-shadow: 3px 3px rgba(47, 0, 255, 0.011), -.3em 0 .4em #348bd22d;
  box-shadow: 0 15px 40px rgba(35, 106, 150, 0.728);
  box-sizing: border-box;
  border: 1px solid rgb(220, 220, 220); 
}

.about article h4 {
  font-family: Georgia, serif;     
  font-size: 1.2rem;               
  margin-bottom: 1.5rem;   
  font-weight: bold;
  margin-bottom: 1rem; 
  color: #f0e0d6; 
  text-align: center; 
}

.container footer {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  padding: 10px;
  display: flex;
  justify-content: last baseline;
  width: 100%;
  border-top: 1px dashed rgb(9, 165, 217);
  color:rgb(250, 250, 250);
  margin-top: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer p {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #2920202b;
  text-shadow: -4px 1px #0e0d0d,;
  color:rgb(245, 240, 240);
}

@media only screen and (max-width: 1024px) {
  .about {
    height: 420px;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    padding: 1rem;
  }
  .about article p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 414px) {
  .about {
    height: 660px;
  }
  .splash img {
    max-width: 300px; 
  }
  
  .container section > img {
    min-width: 280px;  
  }
}
