.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
}

.container > section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.container section > img {
  /* justify-content: center;
  width: 24%;
  margin-top: 5vh;
  filter: drop-shadow(15px 15px 15px #066df461); */

  width: 220px;
  height: 205px;
  border-radius: 50%;
  float: left;
  shape-outside: circle;
  margin: 60px 30px 30px 0;
  box-shadow: 0 20px 20px rgba(35, 106, 150, 0.728);

  background: hsla(39, 100%, 71%, 1);

background: linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFCB6B", endColorstr="#3D8BFF", GradientType=1 );
}


.about {
  height: 400px;
  margin: 0;


}

.about article {
  width: 100%;
  max-width: 1000px;
}

.about article p {
  color:rgb(245, 245, 247);
  font-weight: 600;
  text-align: center;
  margin: 0;
  width: 100%;
  box-shadow: 3px 3px rgba(47, 0, 255, 0.011), -.3em 0 .4em #348bd22d;
  font-size: 1.5rem;
  line-height: 40px;
  padding: 6px;
  letter-spacing: 2px;
  box-shadow: 0 15px 40px rgba(35, 106, 150, 0.728);

  /* margin: 0; */
  /* padding: 0; */
  text-align: justify;
  line-height: 1.5;
  /* font-size: 1.1rem; */
  /* color: #dee2e6; */

}

.container footer {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer {
  padding: 10px;
  display: flex;
  justify-content: last baseline;
  width: 100%;
  border-top: 1px dashed rgb(9, 165, 217);
  color:rgb(220, 112, 5);
  margin-top: auto;
  position: fixed;
  left: 0;
    bottom: 0;
}

.footer p {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #2920202b;
  text-shadow: -4px 1px #0e0d0d,;
  
}

@media only screen and (max-width: 1024px) {
  .about {
    height: 420px;
  }
} 

@media only screen and (max-width: 912px) {
  .about {
    height: 460px;
  }
} 

@media only screen and (max-width: 540px) {
  .about {
    height: 560px;
  }
} 

@media only screen and (max-width: 414px) {
  .about {
    height: 660px;
  }
  .container section > img {
    min-width: 340px;
  }
} 

@media only screen and (max-width: 300px) {
  .about {
    height: 800px;
  }
  .container section > img {
    min-width: 340px;
  }
} 