
.center {
  margin: 0 auto;
  width: fit-content; 
  padding: 0 16px;
  margin-top: 80px;
}

.formGroup {
  margin-bottom: 1rem; 
}

.buttonContainer {
  display: flex; 
  justify-content: space-between; 
  margin-top: 1rem; 
}
