.container {
  background: linear-gradient(to right, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
  box-shadow: -1px 5px 19px -5px rgba(138, 127, 205, 0.082);
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(5, 121, 245, 0.831);
  margin-bottom: 20px; 
  width: 350px;
}

.container:hover {
  box-shadow: 0 4px 8px rgb(219, 234, 9); 
}

.container .petDetails {
  padding: 15px; 
  display: flex; 
  flex-direction: column; 
  gap: 10px;
}

.container article h2 {
  margin-top: 0; 
  color:black;
  font-size: 16px; 
  margin: 0; 
  font-weight: 500;
}

.container p {
  font-size: 16px; 
  margin: 0; 
  font-weight: 500;
  color: black;
  line-height: 1.5;
  text-align: justify;
  margin: 0;
}

.container .petDetails img {
  width: 100%; 
  height: 200px;
  object-fit: cover; 
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .container {
    width: 100%; 
  }
}

