.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.container > p {
  margin: 8px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 1rem;
}

.container img {
  width: 12%;
  height: auto;
  object-fit: cover;
  border-radius: 10%;
}