.container {
  top: 0; 
  z-index: 1;
  width: 100%;
  height: 80px;
  display: flex;
  position: fixed; 
  padding: 14px 21px;
  align-items: center;
  box-shadow: -1px 5px 19px -5px rgba(52, 25, 228, 0.082);
  -moz-box-shadow: -1px 5px 19px -5px rgb(11, 36, 231);
  -webkit-box-shadow: -1px 5px 19px -5px rgba(232, 9, 9, 0.25);
}

.container img {
  width: 25%;
  margin-top: 5px;
  filter: drop-shadow(5px 5px 5px #066df461);
}

.container ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
}

.container li {
  margin-left: 35px;
  text-align: right;
}

.container p {
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  margin-right: 600px;
}

@media only screen and (max-width: 414px) {
  .container ul {
    padding-left: 0px;
  }
  .container li {
    font-size: 15px;
  }
}