.container {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 21px; /* Combine top padding and positioning */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: linear-gradient(to right, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
  box-shadow: -1px 5px 19px -5px rgba(138, 127, 205, 0.082);
}

#logo {
  padding: px;
  margin: 10px;
  width: 75px;
  height: 70px;
  border-radius: 50%;
  -moz-box-shadow: 0 20px 20px rgba(35, 106, 150, 0.728);
  background: linear-gradient(to right, hsla(39, 100%, 71%, 1) 0%, hsla(216, 100%, 62%, 1) 100%);
  box-shadow: 0 10px 10px rgba(35, 106, 150, 0.728);
}

.container ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 10px;
}

.container li {
  margin: 0 10px;
  font-size: 1rem; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  margin-left: 35px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: color 0.25s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

.container p {
  margin: 0 35px;
  list-style: none;
  font-weight: bold;
  align-items: center; 
  justify-content: center; 
  font-size: 1rem; 
  color: #fff;
  transition: color 0.25s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

i {
  text-shadow: 2px 2px 0px #000;
  font-size: 1.9rem;
  color: #fff;
  transition: all 0.2s ease-in-out;

}

.container i:hover {
  transform: scale(1.2);
  color: #e1cc0d;
}

@media only screen and (max-width: 414px) {
  .container > li, .container > p {
    font-size: 0.8rem; 
  }
}

@media only screen and (max-width: 414px) {
  .container ul {
    padding-left: 0px;
  }
}