.container {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #b4b7e88b; 
  font-family: Arial, sans-serif;
  overflow-y: auto;
  max-height: 500px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px; 
  color: #333;
}

p {
  margin-bottom: 20px; 
}

label {
  font-weight: bold; 
  margin-bottom: 5px; 
  display: block; 
  font-size: 14px; 
  color: #333; 
}

input,
select,
textarea {
  width: 100%; 
  padding: 12px 15px;
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  margin-bottom: 15px; 
  color: #333;
  margin: auto;
  display: block;
}

input[type="file"] {
  display: inline-block;
  padding: 10px 20px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: all 0.3s ease-in-out; 
  color: #333; 
  font-size: 16px; 
  background-color: #eee; 
  margin-top: 10px;
}

input[type="file"]:hover {
  background-color: #26c5c0; 
}

input[type="file"]::before {
  content: "Select Photo"; 
  margin-right: 10px; 
  font-weight: bold; 
}

button {
  background-color: #2196f3; 
  color: #fff; 
  padding: 10px 20px; 
  border-radius: 4px; 
  cursor: pointer; 
  transition: all 0.2s ease-in-out; 
  font-size: 15px;
}

button:hover {
  background-color: #1779ba39; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
}

button.cancel-btn {
  background-color: #ccc; 
  color: #333; 
}

.cancel-btn:hover {
  background-color: #ddd; 
}

button[disabled] {
  background-color: #e76c3c7d; 
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%; 
    padding: 20px; 
    margin: 0 auto; 
  }

  h1 {
    font-size: 20px; 
  }

  p,
  label {
    font-size: 14px; 
  }

  input,
  select,
  textarea {
    padding: 10px 12px; 
  }

  button {
    padding: 8px 15px; 
    font-size: 14px; 
  }
}