.container .listHeader {
  background-color: #ffffff72; 
  animation: slideDown 0.5s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px); 
  }
  to {
    opacity: 1;
    transform: translateY(0); 
  }
}

.listHeader {
  padding: 10px 20px;
  border-radius: 3px; 
  cursor: pointer; 
  transition: all 0.3s ease-in-out; 
  color: #278acce7; 
  font-size: 16px;
  margin-bottom: 20px;
}

.ulPetlist {
  transition: all 0.2s ease-in-out;
  margin-top: 50px;
  margin: auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.container .h5 {
  color: rgb(15, 58, 230);
}

.searchInput {
  background-color: #99cdf3; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  padding: 8px 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  transition: all 0.2s ease-in-out; 
}

.searchInput:focus {
  outline: 2px solid #333; 
}

.searchInput:hover {
  cursor: text; 
  background-color: #fecb6d8c; 
}

