.container {
  overflow-y: auto; 
  display: flex;
  width: 100%; 
  margin: 0 auto; 
  padding: 21px;
  margin-top: 40px;
  flex-wrap: wrap;
  gap: 14px;
}

.scroller {
  height: 700px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scrollbar-color: rgba(23, 123, 114, 0.245) #d6eadf;
}

h2 {
  text-align: center;
}

h2 {
  text-align: center;
}