.container {
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  margin-left: 16px;
  padding: 4px 8px;
  font-size: 16px;
  width: 300px;
  display: block;
  margin-bottom: 15px; /* Spacing between elements */
  margin: auto;
}

input[type="file"] {
  padding: 0;
}

input::file-selector-button { 
  text-align: center;
  border: 1px solid rgb(220, 220, 220);
  cursor: pointer;
  margin-right: 28px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  transition: border-color 0.25s;
}

.message {
  margin-top: 0;
  height: 20px;
  color: #dd1b16;
  font-size: 18px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.label {
  width: 100%;
  display: flex;
  justify-content:first baseline;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 600;
}

.button {
  margin-left: 16px;
  font-weight: 600;
  cursor: pointer;
  color: rgb(31, 31, 226);
  transition: border-color 0.25s;
  background: #d2dee395;
}

.button:hover {
  border-color: #646cff;
}
.button:focus,
.button:focus-visible {
  outline: 9px auto -webkit-focus-ring-color;
}

.form > label:last-of-type {
  margin-bottom: 16px;
}

@media only screen and (max-width: 912px) {
  .container section {
    width: 100%;
  }
  .container section:first-child {
    display: none;
  }
  .container form {
    min-width: 100%;
  }
}

@media only screen and (max-height: 900px) {
  .container section:nth-child(2) {
    justify-content: flex-start;
  }
}