*,
*::before,
*::after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  min-height: calc(100vh - 75px);
  height: 100%;
  font-family: "Teachers", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: rgb(53, 200, 245);
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  overflow: auto;
  padding-top: 80px;
}

article img {
  width: 80px;
}

h1, h3 { 
  margin: 7px 0;
  color: rgb(241, 242, 247);
}

h1 {
  font-size: 28px;
  font-weight: 600;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}

h4 {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 2px;
}

h5 {
  font-size: 12px;
  font-weight: 500;
}

p {
  margin: 0;
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  color: rgb(241, 242, 247);
}

a {
  color: rgb(241, 242, 247);
  font-weight: 600;
  text-decoration: none;
}

a:visited {
  color: #f3f3fa;
  font-weight: 500;
}

form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: rgba(50, 63, 110, 0.117);
  padding: 21px;
  border: 1px solid rgb(220, 220, 220);
  box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    line-height: 1.5;
  }
  form {
    padding: 14px;
  }
}

@media only screen and (max-width: 414px) {
  h1 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    font-size: 12px;
    line-height: 1.4;
  }
  form {
    max-width: 100%;
  }
}
